<div class="row">
  <div class="col-md">
    <h2>Channel</h2>

    <form id="channelForm" class="form-inline">
      <div class="form-group mr-2 mb-2">
        <input id="channelTitle" type="text" class="form-control" value="<%= channelTitle %>">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Set Title</button>
    </form>

    <form class="form-inline">
      <button id="channelMoveLeft" type="button" class="btn btn-secondary mr-2 mb-2">Move Left</button>
      <button id="channelMoveRight" type="button" class="btn btn-secondary mr-2 mb-2">Move Right</button>
      <button id="channelRemove" type="button" class="btn btn-danger mb-2">Delete Channel</button>
    </form>

    <form class="form-inline">
      <button id="channelCreateLeft" type="button" class="btn btn-success mr-2 mb-2">Insert Left</button>
      <button id="channelCreateRight" type="button" class="btn btn-success mr-2 mb-2">Insert Right</button>
    </form>
  </div>
</div>
