<div class="row">
  <div class="col-md">
    <h2>Channel</h2>
    <form id="channelForm">
      <input id="channelTitle" type="text" value="<%= channelTitle %>">

      <button id="channelTitleSubmit" type="button">OK</button>

      <div>
        <button id="channelRemove" type="button">DEL</button>
        <button id="channelMoveLeft" type="button">Move left</button>
        <button id="channelMoveRight" type="button">Move right</button>
      </div>
    </form>
  </div>
</div>
