.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30rem;
  max-width: 90%;
  background: white;
  overflow-y: scroll;
  border-left: 1px solid gray;
  z-index: 10; /* channel-titles 5 */
}

.sidebar-opener {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  border-bottom-left-radius: 2rem;
  z-index: 10; /* channel-titles 5 */
  cursor: pointer;
}

.sidebar-content {
  padding-top: 0.8rem;
}
