<div class="row">
  <div class="col-md">
    <h2>Performance</h2>

    <p>
      <button id="perfRunBtn" type="button" class="btn btn-primary"<%= isRunning ? ' disabled' : '' %>>Run</button>
      <% if (isRunning) { %><button id="perfStopBtn" type="button" class="btn btn-danger">Stop</button><% } %>
    </p>

    <div id="perfProgressContainer"></div>
    <div id="perfTableContainer"></div>
  </div>
</div>
