.channel-titles {
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255,0.80);
  backdrop-filter: blur(5px);
  z-index: 5; /* selected row z-index: 2 */
}

.channel-titles .cell.channel-title {
  height: 4.2rem;
}
.channel-titles .cell.channel-title .cell-spine {
  background: url('img/spine-arrow-up.png') center top repeat-y;
  opacity: 0.16;
}
.channel-titles .cell.channel-title .cell-text {
  top: unset;
  bottom: 0.6rem;
  height: unset;
}
.channel-titles .channel-title.channel-selected {
  font-weight: bold;
  background: rgba(0,0,0,0.10);
}
.channel-titles .channel-title-frame-selected {
  background: rgba(0,0,0,0.10);
}
.channel-titles .channel-selected.channel-title-frame-selected {
  font-weight: bold;
  background: rgba(0,0,0,0.26);
}
