<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#" id="navbar-brand">
    <img src="img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="" title="The logo of Sensibus is a nazar – an eye-shaped amulet">
    Sensibus
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item<%= sidebarPage === 'inspect' ? ' active' : '' %>">
        <a class="nav-link" href="#" id="navbarInspect">Predict</a>
      </li>
      <li class="nav-item<%= sidebarPage === 'edit' ? ' active' : '' %>">
        <a class="nav-link" href="#" id="navbarEdit">Edit</a>
      </li>
      <li class="nav-item<%= sidebarPage === 'performance' ? ' active' : '' %>">
        <a class="nav-link" href="#" id="navbarPerformance">Performance</a>
      </li>
      <li class="nav-item<%= sidebarPage === 'storage' ? ' active' : '' %>">
        <a class="nav-link" href="#" id="navbarStorage">Storage</a>
      </li>
    </ul>
  </div>
</nav>
