Frame #<%= frame %> - <%= frameTitle %>

<form id="frameForm">
  <div class="form-group mr-2 mb-2">
    <input id="frameTitle" type="text" class="form-control" value="<%= frameTitle %>">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Set Title</button>
  <button id="frameMoveUp" type="button" class="btn btn-secondary mr-2 mb-2">Move Up</button>
  <button id="frameMoveDown" type="button" class="btn btn-secondary mr-2 mb-2">Move Down</button>
  <button id="frameCreateUp" type="button" class="btn btn-success mr-2 mb-2">Insert Above</button>
  <button id="frameCreateDown" type="button" class="btn btn-success mr-2 mb-2">Insert Below</button>
  <button id="frameRemove" type="button" class="btn btn-danger mb-2">Delete Frame</button>
</form>
