<div class="header-title-row">
  <p><a href="/">Sensibus.io</a></p>
  <h1>Timeline title here</h1>
  <button>&star; Star</button>
  <button>&#9741; Share</button>
  <button>&#9998; Edit title</button>
</div>

<p class="timeline-authors">by <a href="/u/fooman">fooman</a></p>


<button>+ Manage contributors</button>

<p>Visibility: <span class="badge badge-secondary">public</span></p>

<p>Latest edit by <a href="/u/fooman">fooman</a> 3 days ago. <a href="#">See full history</a></p>
