<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="img/icon.png" width="30" height="30" class="d-inline-block align-top" alt=""> Sensibus.io
  </a>
</nav>

<div class="header-title-row">
  <h1>Timeline title here</h1>
  <button>&#9998; Edit title</button>
  <button>&star; Star</button>
  <button>&#9741; Share</button>
  <button>&#10066; Download</button>
</div>

<div class="header-info-row">
  <p class="timeline-authors">by <a href="/u/fooman">fooman</a></p>

  <button>+ Manage contributors</button>

  <p>Visibility: <span class="badge badge-secondary">public</span></p>

  <p>Timeline length: 333 frames<br>
  Predictability: 75 out of 100 correct</p>

  <p>Latest edit by <a href="/u/fooman">fooman</a> 3 days ago. <a href="#">See full history</a></p>
</div>
