<h2>Storage &amp; Privacy</h2>

<div class="input-group mb-3">
  <button type="button" class="btn btn-primary" id="file-new">Create New Memory</button>
</div>

<div class="input-group mb-3">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="file-open">
    <label class="custom-file-label" for="file-open">Open Memory File</label>
  </div>
</div>

<div class="input-group mb-3">
  <button type="button" class="btn btn-primary" id="file-save">Save Memory As...</button>
</div>

<p><strong>Sensibus is a future prediction app built for everybody</strong>. Harness the power of machine learning with your fingers. No mad math skills needed.</p>

<p><strong>Privacy</strong> – All computation happens inside your browser. Sensibus stores your data in your browser's local storage. You can download your data as a JSON text file and import it back later. No data are sent, stored, or hosted elsewhere. If you reset your browser's cache you may lose your data if you have not downloaded it to safety. Browser restart is ok, your data is kept safe in the local storage.</p>

<p><strong>Plans</strong> – We aim to provide two additional storage options in future, open public hosting and password-encrypted private hosting. Both hosting plans are free of charge, and receive a unique, secure, and randomly generated URL address. Premium plans allow you to choose a shorter and prettier address and create collaborative multi-user memories, starting at ten euros per year.</p>

<p><strong>Support</strong> – Join conversation, see source code, and issue bugs at <a href="https://github.com/axelpale/sensibus" target="_blank">GitHub</a>.</p>
