<h2>Storage &amp; Privacy</h2>

<div class="input-group mb-3">
  <button type="button" class="btn btn-primary" id="file-new">Create New Memory</button>
</div>

<div class="input-group mb-3">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="file-open">
    <label class="custom-file-label" for="file-open">Open Memory File</label>
  </div>
</div>

<div class="input-group mb-3">
  <button type="button" class="btn btn-primary" id="file-save">Save Memory As...</button>
</div>
