<form id="channelForm" class="text-center">
  <div class="form-group text-left">
    <label for="channelTitle">Channel Title</label>
    <input id="channelTitle" type="text" class="form-control mb-2" value="<%= channelTitle %>">
  </div>
  <div class="text-left">
    <label>Actions</label>
  </div>
  <div>
    <button id="channelMoveLeft" type="button" class="btn btn-secondary mr-1 mb-2">&larr; Move</button>
    <button id="channelMoveRight" type="button" class="btn btn-secondary mb-2">Move &rarr;</button>
  </div>
  <div>
    <button id="channelCreateLeft" type="button" class="btn btn-success mr-1 mb-2">+ Insert</button>
    <button id="channelCreateRight" type="button" class="btn btn-success mb-2">Insert +</button>
  </div>
  <div>
    <button id="channelRemove" type="button" class="btn btn-danger mb-2">Delete Channel</button>
  </div>
</form>
