/* Timeline Styles */

.timeline-root {
  position: absolute;
  min-width: 100%;
  padding: 5rem 30rem 20rem 0;
}

.timeline-canvas {

}

.timeline-row {
  height: 4.2rem;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeline-row .timeline-row-title {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 4.2rem;
  margin: 0;
  padding: 0;
  padding-right: 1rem;
  text-align: right;
  line-height: 1;
  overflow: hidden;
}

.timeline-row .frame-label {
  padding-top: 1.37rem;
}

.cells {
  display: block;
  position: absolute;
  top: 0;
  left: 10rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  height: 4.2rem;
}

.cell {
  display: inline-block;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;

  width: 4.2rem;
  height: 4.2rem;

  position: relative;
}

.cell .cell-spine {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.2rem;
  height: 4.2rem;
  background: url('./spine.png') center repeat-y;
  opacity: 0.8;
}

.cell .cell-icon {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 1.9rem;
}

.cell .cell-text {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  line-height: 1;
  width: 3.8rem;
  height: 3.8rem;
}

.cell.cell-unknown .cell-icon {
  opacity: 0.6;
  filter: blur(3px);
}
.cell.cell-unknown .cell-spine {
  opacity: 0.16;
}
.cell.cell-unknown .cell-text {
  top: 1.3rem;
  font-size: 1.27rem;
  height: 60%;
  visibility: hidden;
}

.cell.cell-selected {
  /* background: rgba(0,0,0,0.10); */
}
.cell.cell-selected.cell-focus {
  background: white;
}

.frame-title-selected {
  font-weight: bold;
}

.frame-title-selected {
  /* background: rgba(0,0,0,0.10); */
}
